<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
      <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
      <title th:include=":: #pageTitle">Header Template</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap">
      <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>

<body>

</body>

</html>